.video {
    margin-top: 100px;
  }
  
  .video__iframes {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .video__iframe {
    margin-top: 50px;
    width: 515px;
    height: 316px;
  }