.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .header__title {
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    margin-left: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .header__subtitle {
  margin-bottom: 30px;
  margin-left: 64px;
  width: 388px;
  z-index: 1;
  font-weight: 400;
  }
  
  .header__main-ilustration {
    width: 756px;
    height: 608px;
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: 0;
  }
  
  .header__square {
    position: absolute;
    background-color: rgb(46, 128, 236);
    width: 568px;
    height: 568px;
    right:0;
    top: 64px;
    z-index: 0;
    
    animation: rotation 20s linear infinite;
  }